<div class="w-50 border h-screen flex flex-col p-4">
    <a class="hover:underline" routerLink="auth">Auth</a>
    <a class="hover:underline" routerLink="admin">Admin</a>
    <a class="hover:underline" routerLink="home">Home</a>
    <a class="hover:underline" routerLink="dashboard">Dashoard</a>
    <a class="hover:underline" routerLink="students">Students</a>
    <a class="hover:underline" routerLink="courses">Courses</a>
    <a class="hover:underline" routerLink="about">About</a>
    <!-- <a routerLink=""></a> -->
</div>